@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Tahoma', Arial, sans-serif;
  /* Use the imported Google Fonts */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  @apply px-[10px];
}

* {
  @apply text-textColor;
}

.button {
  @apply flex justify-center my-8 items-center gap-3 bg-primary w-full no-underline text-white p-3 rounded-[18px]
}

.social-icon {
  @apply border-2 p-4 rounded-[20px]
}



.secondary-button {
  @apply flex border-1 border-borderColor my-5 p-3 px-11 w-full justify-between items-center mx-auto gap-4 rounded-[18px];
}

input {
  @apply w-full bg-myGray
}

.input-container {
  @apply flex align-middle my-3 rounded-xl px-2 py-1 w-full bg-myGray items-center text-[15px]
}

@layer utilities {
  @variants responsive {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }
}

.icons {
  flex-shrink: 0;
  /* Prevent icon from shrinking */
}

h1 {
  @apply text-[33px] font-[700]
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.input-icon {
  margin-right: 8px;
  opacity: .4;

}

/* Define your primary color */
:root {
  --primary-color: #007bff;
  /* Change this to your primary color */
}

.custom-checkbox {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-checkbox label {
  position: relative;
  cursor: pointer;
}

.custom-checkbox label:before {
  content: "";
  position: absolute;
  left: -23px;
  top: -7px;
  width: 18px;
  height: 18px;
  border: 2px solid #7210FF;
  border-radius: 4px;
}

.custom-checkbox input[type="checkbox"]:checked+label:before {
  background-color: #7210FF;
}

.custom-checkbox label:after {
  content: "✔";
  position: absolute;
  left: -20px;
  top: -11px;
  font-size: 16px;
  color: white;
}